<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <form class="form" ng-submit="submitCode(form)" novalidate>

          <select ng-model="languageId" convert-to-number>
              <option value="7">C++</option>
              <option value="8">Java</option>
          </select>

          <textarea class="form-control" rows="15" ng-model="code"></textarea>
          <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Submit
              </button>
              <p> {{status}}</p>

              <div ng-messages="build.error" role="alert">
                  <div ng-message="compileError">{{build.detailError}}</div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>

<footer></footer>
